name: Media Platform Python SDK

on:
  create:
    tags:
      - 1.*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get tag name
        id: get_tag_name
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - uses: actions/checkout@v1
        with:
          ref: ${{ steps.get_tag_name.outputs.VERSION }}
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Build
        run: |
          python setup.py sdist
      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
